li {
  background-color: #fff;
  margin: 25px 0px;
  border-radius: 5px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.493);
  height: 10vh;
  position: relative;
}

li:hover {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.895);
}

.icon-close {
  position: absolute;
  top: 0px;
  right: 0px;
  color: #646464;
  width: 20px;
  height: auto;
  align-self: flex-start;
}

.icon-close:hover {
  color: red;
  width: 22px;
  height: auto;
}

.icon-check {
  color: #646464;
  width: 25px;
  height: auto;
}
.icon-check--active {
  color: #8bbf40;
  width: 27px;
  height: auto;
}

p {
  margin: 0px 0px 0px 10px;
  font-size: 18px;
  color: #646464;
  padding: 0px 20px;
  text-align: left;
  width: 100%;
  text-align: left;
}

.TodoItem-p--complete {
  text-decoration: line-through;
}
