input {
  background-color: #f8f8f8;
  border-radius: 5px;
  border: 1px solid #e1e1e1;
  color: #636363;
  font-size: 24px;
  padding: 14px 32px 14px 16px;
}

input:focus {
  border: 1px solid #ff8000;
  outline-color: #ff8000;
}
